/* ========================================================
  Name = espol theme
  Author = @edunext | Daniel Naranjo - @Bound3R
  Web = edunext.co

  Description
  -------------------------------------------------------
  overrides for common elemnts: [header, footer etc]

======================================================== */

// couseware wrapper alignmed
body.view-in-course .container {
  padding: 0;

  div.home,
  div.info-wrapper {
    border: none;
    padding: 20px;
  }

  .home {
    border-bottom: 1px solid #d9d9d9;
    max-width: 100%;
  }
}
