/* ========================================================
  Name = espol theme
  Author = @edunext | Daniel Naranjo - @Bound3R
  Web = edunext.co

  Description
  -------------------------------------------------------
  overrides for common elemnts: [header, footer etc]

======================================================== */
// header arrangements to imitate lms v2 (pattern library)
body header.header-global,
body header.header-global.slim {
  height: auto;
  padding: 0;
  border-bottom: 1px solid #a1a5a5;

  .wrapper-header {
    height: 60px;
    padding: 10px 10px 0;
  }

  .logo img {
    height: 30px;
    margin-top: 4px;
  }

  .wrapper-user-menu {
    margin-top: 0;
  }

  .dropdown-menu-container .menu-button {
    text-shadow: none;
    box-shadow: none;

    &:hover,
    &:active,
    &:focus {
      background: none;
    }
  }
}

.home > header {
  background-color: #006699;
  background: url("../images/hero-home-page.jpg") center center;
  background-size: cover;
}

// dashboard wrapper backgrounds
body .content-wrapper {
  background: $transparent !important;
}

body.index .content-wrapper {
  max-width: none;
}

.dashboard {
  margin-top: 40px;
  padding: 20px 20px 0;
}

// couseware wrapper alignmed
body.view-in-course .container {
  padding: 0;

  div.home,
  div.info-wrapper {
    border: none;
    padding: 20px;
  }

  .home {
    border-bottom: 1px solid #d9d9d9;
    max-width: 100%;
  }
}

// course about
.course-info header {
  height: auto !important;
  margin-bottom: 40px;
  padding: 40px !important;
}
.course-info .container {
  padding: 40px 20px;
}

.course-info .course-sidebar header::after {
  left: 0;
}
