/*=====================================================
  Name = espol theme
  Author = @edunext | Miguel López - @Icemberth

  Description
  --------------------------------
  overrides for common elements: [header, footer, etc]
========================================================*/
$main-color: #001c43;
$hover-color: #1f457b;
$secondary-color: #eaa932;

// TODO: revisar este color de background
.btn-default {
  box-sizing: border-box;
  transition: color 0.25s ease-in-out,background 0.25s ease-in-out,box-shadow 0.25s ease-in-out;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-shadow: none;
  font-weight: 500;
  letter-spacing: 0;
  box-shadow: 0 2px 1px 0 $secondary-color;
  background: $main-color;
  color: #fff;
}
.btn{
  border-color: $main-color;
  color: $main-color;
  &:hover {
    border-color: $main-color;
    background: $main-color;
  }
}
a{
  color: $main-color;
  &:hover{
    color: $hover-color;
  }
}
h1 {
  font-size: 1.5rem;
}
.page-heading {
  padding: 30px 10px 10px 10px;
}
.header-global .nav-courseware li .btn{
  box-shadow: 0 2px 1px 0 $secondary-color;
  background: $main-color;
}
.header-global .nav-courseware li .btn:hover{
  background: $hover-color;
}
.footer-about-openedx p{
  // margin: 1.2rem 0 0 0;
  margin: 0 0 0 0 !important;
}
.footer-about-openedx a {
  display: block !important;
  float: none !important;
}
.wrapper-footer{
  background: #5B5B5F;

  footer#footer-openedx .copyright{
    color: white !important;
  }
  footer#footer-openedx ul a{
    color: white !important;
  }
  footer#footer-openedx a:hover{
    border-bottom: 1px dotted white !important;
  }
}
.home > header .title .course-search .search-button{
  border: 2px solid $main-color;
  background: $main-color;
  box-shadow: none;
}

#global-navigation{
  border-bottom: 2px solid $main-color;
  // provisional
  // box-shadow: 0px 0px 0px 0px white, 0px 2px 0px 0px #eaa834;
}
.header-global{
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
  background: #fff;
  position: relative;
  width: 100%;
  height: 76px !important;
}

.header-global .wrapper-header .list-inline .item{
  text-transform: none;
}
.header-global.slim .course-header{
  width: 60%;
}
.header-global .wrapper-header .wrapper-user-menu{
  line-height: 22.4px;
  margin-top: 0px;
}
.doc-link{
  line-height: 14px !important;
}

// Login CSS
.login-register .action-primary{
  background: $main-color;
  box-shadow: 0 2px 1px 0 $secondary-color;

  &:hover{
    background: $hover-color;
  }
}
.login-register-content h2{
  color: $main-color;
}
.login-register .form-field .field-link{
  color: $main-color;
}
// Curses
.courses-container .courses .course{
  border-bottom: 3px solid $main-color;
}
.courses-container .courses .course .course-image .cover-image .learn-more{
  border-color: $main-color;
  background: $main-color;
}
.courses-container .courses .course .course-info .course-title{
  color: $main-color;
}
.course-info .register{
  @extend .btn-default;
}
.course-outline .block-tree .section ol.outline-item .subsection:hover{
  border: 1px solid $main-color;
}
.btn-link{
  color: $main-color;
}
.dashboard .my-courses .course .details .enter-course{
  color: $main-color;
  border: solid 1px $main-color;
  &:hover{
    background-color: $hover-color;
  }
}
div.info-wrapper section.handouts a{
  color: $main-color;
}
div.info-wrapper section.handouts ol li a{
  color: $main-color;
}
.wrapper-course-material .course-tabs li a:hover{
  color: $main-color;
  border-bottom-color: $main-color;
}
.tabs .tab a.active{
  border-bottom-color: $main-color !important;
  &:hover{
    border-bottom: $main-color !important;
  }
}
.tabs .tab a:hover{
  border-bottom-color: $main-color !important;
  color: $main-color !important;
}
.content-wrapper .page-header.has-secondary .page-header-secondary .form-actions>*:first-child{
  color: white !important;
  background: $main-color;
  &:hover{
    background: $hover-color;
  }
}
.btn-brand{
  border-color: $main-color;
  background: $main-color;
}
// password reset confirm
// Removed by fmo, because the implications are too broad
// .content-wrapper{
  // text-align: center;
// }
// dashboard
a, a:visited{
  color: $main-color !important;
}
.header-global .nav-global li a{
  color: $main-color
}
.search-bar .search-button{
  background: $main-color;
  &:hover{
    background: $hover-color !important;
  }
}
/* ========================================================
  Name = espol theme
  Author = @edunext | Daniel Naranjo - @Bound3R
  Web = edunext.co

  Description
  -------------------------------------------------------
  overrides for common elemnts: [header, footer etc]

======================================================== */
// header arrangements to imitate lms v2 (pattern library)
body header.header-global,
body header.header-global.slim {
  height: auto;
  padding: 0;
  border-bottom: 1px solid #a1a5a5;

  .wrapper-header {
    height: 40px;
    padding: 18px 10px 0;
  }

  .logo img {
    // height: 30px;
    margin-top: 4px;
  }

  .wrapper-user-menu {
    margin-top: 0;
  }

  .dropdown-menu-container .menu-button {
    text-shadow: none;
    box-shadow: none;

    &:hover,
    &:active,
    &:focus {
      background: none;
    }
  }
}

.home > header {
  background-color: #006699;
  background: url("../images/hero-home-page.jpg") center center;
  background-size: cover;
}

// dashboard wrapper backgrounds
body .content-wrapper {
  background: $transparent !important;
}

body.index .content-wrapper {
  max-width: none;
}

.dashboard {
  margin-top: 40px;
  padding: 20px 20px 0;
}

// couseware wrapper alignmed
body.view-in-course .container {
  padding: 0;

  div.home,
  div.info-wrapper {
    border: none;
    padding: 20px;
  }

  .home {
    border-bottom: 1px solid #d9d9d9;
    max-width: 100%;
  }
}

// course about
.course-info header {
  height: auto !important;
  margin-bottom: 40px;
  padding: 40px !important;
}
.course-info .container {
  padding: 40px 20px;
}

.course-info .course-sidebar header::after {
  left: 0;
}
