## mako
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About Us")}</%block>

<div class="page-heading">
  <!-- <h1><b>${_("About Us")}</b></h1> -->
</div>
<section class="static-content">
  <div class="grid-manual grid-container">
    <div class="inner-container">
      <div class="row">
        <div class="col col-12 sm-col-8">

        </div>
        <!-- <div class="col col-12 sm-col-4 mission-statement">
            <img src="${static.url('images/user-thumbnail.png')}" alt="Mission Statement">
            <p>"Lorem ipsum dolor sit amet, sea te quaeque suscipiantur. Nullam vituperata at his, usu ad solum augue.
            Mel partem iudicabit te, an sed vocent offendit."</p>
            <p>
              <strong>Lorem ipsum</strong><br/>
              Lorem ipsum, Lorem ipsum
            </p>
        </div> -->
      </div>
    </div>
  </div>
</section>
