## mako
<%page expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import Text, HTML
from datetime import datetime
import pytz
from django.conf import settings
%>
<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>
<%block name="pagetitle">${_("Contact Us")}</%block>

<div class="page-heading">
</div>

<section class="static-content">
  <div class="grid-manual grid-container">
    <div class="inner-container">
      <div class="row">
        <div class="col col-12 sm-col-10 md-col-8 lg-col-6 xl-col-6 col-centered"></div>
      </div>
    </div>
  </div>
</section>

<a href="#success-message" class="media hidden" id="success-message-btn" rel="leanModal">
</a>
<div id="success-message" class="modal">

    <div class="alert alert-success" role="alert" aria-labelledby="alert-title-success" tabindex="-1">
        <span class="icon alert-icon icon-check" aria-hidden="true">
          <i class="fa fa-check" aria-hidden="true"></i>
        </span>

        <div class="alert-message">
          <h3 class="alert-title" id="alert-title-success">
              ${_("Thank you for your inquiry")}
          </h3>
          <p class="alert-copy-with-title">
              We'll get back to you within 24 hours.
          </p>
        </div>
    </div>
</div>


<%block name="js_extra">
  <script src="${static.url('js/contact-form.js')}"></script>
</%block>
