## mako
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor Code")}</%block>

<div class="page-heading">
  <h1><b>Código de honor</b></h1>
</div>
<section class="static-content">
  <div class="grid-manual grid-container">
    <div class="inner-container">
      <div class="row">
        <div class="col col-12 sm-col-12 md-col-12">
          <!-- <h1 class="honor-code-heading">Lorem ipsum dolor sit amet, sea te quaeque.</h1> -->
          <!-- <h2 id="collaboration-policy">Lorem ipsum dolor sit amet</h2> -->
          <p>
            Cada usuario, a quien se le asigne una cuenta, asumirá la responsabilidad única y total por las acciones realizadas a través de su cuenta.
          </p>
         <p>
           La vigencia de la cuenta se mantendrá mientras el usuario permanezca vinculado a las actividades dentro de la plataforma.
          </p>
          <p>
            La cuenta asignada le da al usuario el privilegio de acceder a los servicios dentro de la plataforma con las restricciones propias de su perfil.
          </p>
          <!-- <a href="#" class="brand-link back-to-top">${_("Back to top")}</a> -->
        </div>
      </div>
    </div>
  </div>
</section>
