## mako
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<div class="page-heading">
  <h1><b>Políticas de privacidad</b></h1>
</div>
<section class="static-content">
  <div class="grid-manual grid-container">
    <div class="inner-container">
      <div class="row">
        <div class="col col-12 sm-col-12 md-col-12">
          <p>
            La información de cada participante como datos personales u otros, son de exclusiva responsabilidad del usuario de la plataforma.
          </p>
         <p>
          La plataforma tiene niveles de seguridad que son modificables por cada usuario deacuerdo a sus necesidades, sin embargo, se sugiere que se utilice el nivel de seguridad máximo para minimizar inconvenientes con su información personal.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
