## mako
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<div class="page-heading">
  <h1><b>Términos de servicio</b></h1>
</div>
<section class="static-content">
  <div class="grid-manual grid-container">
    <div class="inner-container">
      <div class="row">
        <div class="col col-12 sm-col-12 md-col-12">
          <p>
            El servicio provisto por esta plataforma está disponible en un horario 24x7, salvo que existan interrupciones debidamente programadas por temas de mantenimiento o cambios internos.
          </p>
         <p>
           El perfil de acceso, le permite participar en los cursos en los que se haya registrado únicamente.
          </p>
          <p>
            La información provista en la plataforma es de propiedad de la ESPOL, se prohíbe la copia de su contenido.
          </p>
          <p>
            En los foros o preguntas, se debe mantener y fomentar el respeto entre los participantes. De confirmarse la existencia de una falta que atente al respeto de alguna persona, se procederá a restringir el acceso a la plataforma por tiempo no definido, so pena de una disculpa pública.
          </p>
          <!-- <a href="#" class="brand-link back-to-top">${_("Back to top")}</a> -->
        </div>
      </div>
    </div>
  </div>
</section>
